[buildout]
extends = buildout.cfg

parts -= ipzope

eggs -= Products.PloneLDAP

[remotes]
# (Repository locations)
########################
upcnet = git://github.com/UPCnet
upcnet_push = git@github.com:UPCnet

[sources]
ulearn.core = git ${remotes:upcnet}/ulearn.core.git pushurl=${remotes:upcnet_push}/ulearn.core.git branch=iskra
ulearn.theme = git ${remotes:upcnet}/ulearn.theme.git pushurl=${remotes:upcnet_push}/ulearn.theme.git branch=iskra
genweb.core = git ${remotes:upcnet}/genweb.core.git pushurl=${remotes:upcnet_push}/genweb.core.git branch=develop
genweb.theme = git  ${remotes:upcnet}/genweb.theme.git pushurl=${remotes:upcnet_push}/genweb.theme.git branch=develop
genweb.controlpanel = git ${remotes:upcnet}/genweb.controlpanel.git pushurl=${remotes:upcnet_push}/genweb.controlpanel.git branch=develop
genweb.portlets = git ${remotes:upcnet}/genweb.portlets.git pushurl=${remotes:upcnet_push}/genweb.portlets.git branch=develop
maxclient = git ${remotes:upcnet}/maxclient.git pushurl=${remotes:upcnet_push}/maxclient.git branch=develop
mrs.max = git ${remotes:upcnet}/mrs.max.git pushurl=${remotes:upcnet_push}/mrs.max.git branch=develop
upcnet.cas = git ${remotes:upcnet}/upcnet.cas.git pushurl=${remotes:upcnet_push}/upcnet.cas.git branch=develop
anz.casclient = git git@github.com:collective/anz.casclient.git
pas.plugins.osiris = git ${remotes:upcnet}/pas.plugins.osiris.git pushurl=${remotes:upcnet_push}/pas.plugins.osiris.git
plone.app.contenttypes = git git@github.com:plone/plone.app.contenttypes.git
wildcard.foldercontents = git git@github.com:collective/wildcard.foldercontents.git

[versions]
mr.developer = 1.26