[versions]
# Moduls infraestructura
zc.buildout = 2.2.1
setuptools = 2.0.1

# Pin wildcard.foldercontents
wildcard.foldercontents = 1.2.4

# Add plone.app.contenttypes
plone.app.collection = 2.0b5
plone.app.portlets = 2.5a1

# mr.developer made in UPCnet
mr.developer = 2.0
